.wrapper {
  min-height: 100vh;
  width: 100%;
  background: #392A48;
  padding: 75px 9%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 32px;
  color: #D8bfd8;
  font-weight: 900;
  text-transform: uppercase;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 22px;
}

/* CARD */
.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
}

/* IMAGE */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* OVERLAY CARD */
.overlayCard:hover .img,
.overlayCard:focus-within .img {
  transform: scale(1.06);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.25),
    transparent
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0;
  transition: 0.35s ease;
}

.overlayCard:hover .overlay,
.overlayCard:focus-within .overlay {
  opacity: 1;
}

.overlay h3 {
  color: #00ff37;
  font-size: 18px;
  margin: 0;
}

.overlay p {
  color: #ddd;
  font-size: 13px;
  margin-top: 6px;
}

/* SPANS */
.span2 {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

/* STATS */
.statCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statBig {
  color: #00ff37;
  font-size: 44px;
  font-weight: 900;
}

.statSmall {
  color: #ccc;
  font-size: 12px;
  letter-spacing: 2px;
}

/* WORKSHOP */
.workshopCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workshopTitle {
  color: #00ff37;
  font-size: 32px;
  font-weight: 900;
}

.workshopSub {
  color: #bbb;
  letter-spacing: 4px;
  font-size: 12px;
  margin-top: 8px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .span2,
  .tall {
    grid-column: auto;
    grid-row: auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 38px 19px; /* fixed padding works better */
    width: 100%;
    overflow-x: hidden;
  }
  .title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 32px;
  color: #D8bfd8;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
}
}

@media (max-width: 480px) {
  .wrapper {
    padding: 24px 4%;
  }
}